:root {
    --c-almostblack: #212529;
    --c-pink: #fe46a0;
    --c-redish: #c94471;
    --c-darkblue: #211e38;
    --c-almostwhite: #f9f9f9;

    --c-topnav-font: #2f4b6e;
    --c-blueish: #e8f5fa;
    --c-blue: #224afa;

    --s-width-xs: 480px;
    --s-width-sm: 600px;
    --s-width-md: 840px;
    --s-width-lg: 960px;
    --s-width-xl: 1280px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    -webkit-font-smoothing: antialiased;

    background-image: url(/res/img/bottomleftdots.svg);
    background-size: 89%;
    background-position: left -2%;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    -webkit-font-smoothing: antialiased;
}
.navbar-section {
    margin-top: 20px;
}
.navbar-section .btn {
    color: var(--c-topnav-font);
    font-weight: 700;
    font-size: 1rem;
    margin-left: 20px;
    padding: 20px;
}
.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
    color: var(--c-blue);
}
@media (max-width: 840px) {
    .navbar-section .btn {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
    }
}
.logo {
    padding: 0;
    margin: 5px;
    font-size: 1.5rem !important;
    text-transform: none !important;
}
@media (max-width: 600px) {
    .logo {
        margin: 0;
    }
}
.logo img {
    max-width: 80px;
    vertical-align: middle;
}
h1 {
    font-size: 3.6rem;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 100px;
    color: black;
}
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}
@media (max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
h2 {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 auto 40px auto;
}
.subline {
    font-size: 1.1rem;
}
.navbar-section .btn-primary {
    border-radius: 17px;
    height: 34px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
    color: white;
    margin-left: 10px;
}
@media (max-width: 600px) {
    .navbar-section .btn-primary {
        margin-top: 10px;
        margin-left: 0;
    }
}
.hero-content {
    padding: 100px 0 150px 0;
}
@media (max-width: 600px) {
    .hero-content {
        padding: 30px 0 30px 0;
    }
}
.btn-primary {
    border-radius: 17px;
    height: 34px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
}

.whatwedo,
.contact {
    background-color: var(--c-blue);
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    text-align: left;
    background-image: url(/res/img/toprightdots.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.actions {
    background-color: var(--c-almostwhite);
    padding: 30px 0 40px 0;
}
.box {
    margin: 10px;
    padding: 2rem 0 2rem 0;
    width: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
    transition: 0.3s ease;
}
.box h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}
.box .icon {
    font-size: 2rem;
}
.box p {
    padding: 10px 20px;
}

.tools {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-group button {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1));
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 5px;
    margin-right: 10px;
}

.grid-item {
    position: relative;
    float: left;
    width: 310px;
    height: 70px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.grid-item:hover,
.grid-item:active {
    outline: none;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
}
.grid-item .img {
    float: left;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 8px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.grid-item h5 {
    color: var(--c-almostblack);
    font-weight: 800;
    font-size: 0.9rem;
    margin-top: 4px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grid-item p {
    color: black;
    opacity: 0.8;
    font-size: 0.8rem;
    max-width: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.is-checked {
    background-color: var(--c-blue);
    color: white;
    border: 0;
}

footer {
    background: var(--c-almostwhite);
    padding: 50px 0 50px 0;
}

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?kn88d1');
    src: url('./fonts/icomoon.eot?kn88d1#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?kn88d1') format('truetype'),
        url('./fonts/icomoon.woff?kn88d1') format('woff'),
        url('./fonts/icomoon.svg?kn88d1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
    content: '\e972';
}
.icon-sphere:before {
    content: '\e9c9';
}
.icon-earth:before {
    content: '\e9ca';
}
.icon-embed2:before {
    content: '\ea80';
}
.icon-terminal:before {
    content: '\ea81';
}
